<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMB2GUwxxdw2FT7ayT6vmFStBuFSi3RTo</string>
	<key>GCM_SENDER_ID</key>
	<string>274834775069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagraFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagra-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>instagra-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274834775069:ios:1361e5d26457ac2d3c7af4</string>
</dict>
</plist>